<mat-card class="mt10">
  <mat-card-content>
    <mat-list>
      <h3>
        Todas las categorias
      </h3>
      @for (c of categorias; track $index) {  
      <mat-list-item >
          <mat-icon matListItemIcon class="mt25 -mr-13">category</mat-icon>
          <span matListItemTitle>{{c.titulo}}</span>
          <span matListItemLine>{{c.descripcion}}</span>
          
      </mat-list-item>
      <mat-divider></mat-divider>
    }
    </mat-list>

    <div class="container text-center mt20">
      <button mat-raised-button color="primary"> Agregar categoria</button>
    </div>
  
  </mat-card-content>
  </mat-card>