<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mt10">Agregar pregunta a <strong>{{titulo}}</strong></h1>
            <mat-card>
                <mat-card-header>
                    <mat-card-subtitle>
                        Digite los detalles de la nueva pregunta
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <form  class="mt20" (submit)= "onSubmit()">
                        <mat-form-field class="w100">
                            <mat-label>
                                Digite el contenido de la pregunta</mat-label>
                                <textarea rows="8" matInput placeholder="escribe aqui" name="contenido" [(ngModel)]="pregunta.contenido"></textarea>
                        </mat-form-field>

                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="w100">
                                <mat-label>
                                    Digite la opcion 1
                                </mat-label>
                                <input type="text" 
                                matInput
                                type="text"
                                name="opcion1"
                                [(ngModel)] = "pregunta.opcion1">
                            </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="w100">
                                <mat-label>
                                    Digite la opcion 2
                                </mat-label>
                                <input type="text" matInput
                                type="text"
                                name="opcion2"
                                [(ngModel)] = "pregunta.opcion2">
                            </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="w100">
                                <mat-label>
                                    Digite la opcion 3
                                </mat-label>
                                <input type="text" matInput
                                type="text"
                                name="opcion3"
                                [(ngModel)] = "pregunta.opcion3">
                            </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="w100">
                                <mat-label>
                                    Digite la opcion 4
                                </mat-label>
                                <input type="text" matInput
                                type="text"
                                name="opcion4"
                                [(ngModel)] = "pregunta.opcion4">
                            </mat-form-field>
                            </div>
                        </div>

                        <mat-form-field class="w100">
                            <mat-label>
                                Seleccione la respuesta
                            </mat-label>
                            <mat-select [(ngModel)] = "pregunta.respuesta" name="respuesta">
                               @if (pregunta.opcion1){
                                <mat-option [value]="pregunta.opcion1">{{pregunta.opcion1}}</mat-option>
                               }
                               @if (pregunta.opcion2){
                                <mat-option [value]="pregunta.opcion2">{{pregunta.opcion2}}</mat-option>
                               }
                               @if (pregunta.opcion3){
                                <mat-option [value]="pregunta.opcion3">{{pregunta.opcion3}}</mat-option>
                               }
                               @if (pregunta.opcion4){
                                <mat-option [value]="pregunta.opcion4">{{pregunta.opcion4}}</mat-option>
                               }
                            </mat-select>
                        </mat-form-field>

                        <div class="container text-center">
                            <button mat-raised-button color="primary">
                                Guardar
                                </button>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>