<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mt10">Agregando el examen</h1>
            <mat-card>
                <mat-card-header>
                    <mat-card-subtitle>
                        Digite el detalle de la nueva pregunta
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <form  class="mt20">
                        <mat-form-field class="w100">
                            <mat-label>
                                Digite el contenido de la pregunta</mat-label>
                                <textarea rows="8" matInput placeholder="escribe aqui"></textarea>
                        </mat-form-field>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>