<mat-toolbar color="primary">
    <a
    [routerLink]="'/'"
    mat-icon-button
    class = "example-icon"
    arial-label="Example icon-button with menu icon"
  >
  <mat-icon class="mt5">menu_book</mat-icon>
  </a>
  <span>Portal de exámenes</span>
  <span class="example-spacer"></span>

  @if(!isLoggedIn){
    <a
    [routerLink]="'/login'"
    mat-icon-button
    class = "favorite-icon"
    aria-label = "Example icon-button with heart icon">
     Iniciar sesion
   </a>
  } 
   
  @if(!isLoggedIn){
    
  <a
  [routerLink]="'/signup'"
  mat-icon-button
  class=" favorite-icon mr20 ml40"
  aria-label="Example icon-button with heart icon"
  >
    Registrar
  </a>
}
  @if(isLoggedIn){
    <a
    (click)="logout()"
    mat-icon-button
    class="favorite-icon mr20 ml40"
    aria-label="Example icon-button with heart icon"
    >
      Cerrar sesion
      </a>
  }

  @if(isLoggedIn && user) {

    <a
    mat-icon-button
    class="favorite-icon mr10" aria-label="Example icon-button with heart icon">
      {{user.username}}
    </a>
  }
</mat-toolbar>
