<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <h1 class="mt20">examenes disponibles</h1>
        @if (examenes) {
            <div class="row mt20">
                @for (examen of examenes; track $index) {
                    <div class="col-md-6">
                        <mat-card class="mb20">
                        <mat-card-header>
                            <div mat-card-avatar class="header-image">

                            </div>
                            <mat-card-title>
                                {{ examen.titulo }}
                            </mat-card-title>
                            <mat-card-subtitle class="mb10">
                             {{ examen.categoria.titulo }}
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content >
                            <p>{{examen.descripcion}}</p>
                            <mat-divider></mat-divider>
                            <p class="mt10">Preguntas: {{examen.numeroDePreguntas}}</p>
                            <p class="" style="margin-top: -10px;">Puntos Maximos: {{examen.puntosMaximos}}</p>
                        </mat-card-content>
                        <mat-card-actions align="end">
                            <button mat-button color="primary">Ver</button>
                            <button mat-button color="accent" [routerLink]="'/user-dashboard/instrucciones/'+examen.examenId">Empezar</button>
                        </mat-card-actions>
                        </mat-card>
                    </div>
                }
                @if (examenes.length == 0){
                    
                        <div class="col-md-12">
                            <mat-card>
                                <mat-card-content>
                                    <h1>No hay examenes en esta categoria</h1>
                        
                                </mat-card-content>
                            </mat-card>
                        </div>
                    
                }
            </div>
        }
    </div>
</div>