<mat-card class="ml10 mt10">
    <h1 class="ml20 mt10">Detalles del perfil</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
            
                <div class="text-center">

                    <img
                    src="../../../assets/no-image.png"
                    alt=""
                    class = "profile-image">
                    <h1 class="mt20">Miguel Angel Beltran</h1>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <table class="table text-center">
                            <tr>
                                <td>Nombre de usuario</td>
                                <td>mBeltran</td>

                            </tr>
                            <tr>
                                <td>ID</td>
                                <td>123456</td>

                            </tr>
                            <tr>
                                <td>telefono</td>
                                <td>5454564654</td>
                            </tr>
                            <tr>
                                <td>rol</td>
                                <td>Administrador</td>
                            </tr>
                            <tr>
                                <td>estado</td>
                                <td>activo</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

                
        </div>
        <div class="text-center mt20">
            <button mat-raised-button color = "primary" class="mr10">Actualizar</button>
            <button mat-raised-button color = "accent">Compartir</button>
          </div>
    </mat-card-content>
</mat-card>