<mat-card>
  <mat-action-list>
    <div mat-subheader>Menu</div>
    <button routerLink = "/admin" mat-list-item>
      <mat-icon mat-list-icon class="vertical-align-center">home</mat-icon> 
      <span class="vertical-align-center">
        Inicio
      </span>
    </button>
      <button  mat-list-item routerLink="/admin/profile">
        <mat-icon class="vertical-align-center" mat-list-icon>account_circle</mat-icon>
        <span class="vertical-align-center">
          Perfil
        </span>
      </button>
   
    
    
    
  </mat-action-list>
</mat-card>



